body {
  background-color: rgb(40, 40, 40);
  color: white;

}

h1 {
  text-align: center;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
}

#firstrow {
  border-bottom: 2px solid white;
}

img {
  height: 30px;
  width: 30px;
}